<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <a href="@Url.Action("Index","Kullanici")" class="navbar-brand">Kullanici</a>
                <a href="@Url.Action("Index","Rol")" class="navbar-brand">Rol</a>
                <a href="@Url.Action("Index","Kargo")" class="navbar-brand">Kargo</a>
                <a href="@Url.Action("Index","Kargocu")" class="navbar-brand">Kargocu</a>
                <a href="@Url.Action("Index","KargoSirketi")" class="navbar-brand">KargoSirketi</a>
                <a href="@Url.Action("Index","Durum")" class="navbar-brand">Durum</a>
                <a href="@Url.Action("Index","Urun")" class="navbar-brand">Ürün</a>
            </div>
            @Html.ActionLink("Çıkış", "Cikis", "Giris")


        </div>
    </div>
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>*@
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ☠⇝√〠£</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
