@model IEnumerable<WebApplication3.Models.Rol>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">RolId</th>
            <th scope="col">RolAd</th>
            <th>
                <a href="@Url.Action("Create","Rol")" class="btn btn-primary">Yeni</a>
                @* <button type="button" class="btn btn-primary">Yeni</button>*@
            </th>
        </tr>
   </thead>
    <tbody>
        @foreach (var item in Model.ToList())
        {
            <tr>
                <th scope="row">@item.Id</th>
                <th scope="row">@item.Ad</th>
                <td>
                    <a href="@Url.Action("Update","Rol",new { @Id = item.Id})" class="btn btn-danger">Düzenle</a>

                    <a href="@Url.Action("Delete","Rol",new { @Id = item.Id})" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>

</table>